.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;

    padding: 2rem;
    margin: auto;
    text-align: justify;
}

.header {
    color: var(--color-primary);
}