/******************************************/
/* OTHER */
/******************************************/
.bg_cover {
    position: relative;
    filter: blur(1000vw);
}

.shadow_top {
    position: absolute;
    top: -15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 200px;
    border-radius: 10%;
    background-color: rgba(83, 159, 246, 0.2);
}

.shadow_1 {
    position: absolute;
    top: 4vh;
    right: 10vw;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgba(83, 159, 246, 0.6666666667);
    filter: blur(1000vw);
    z-index: -10;
}

.shadow_2 {
    position: absolute;
    bottom: 0vh;
    right: 0vw;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: rgba(40, 92, 191, 0.6666666667);
    /* background-color: #285cbf00; */
    filter: blur(1000vw);
    z-index: -10;
}


/************************/
/* HERO LINKS */
.hero_links {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.hero_links .link {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #223;
    border-radius: 50px;
    color: var(--color-primary);
    font-weight: 600;
}

.hero_links .link:hover {
    background-color: #3f8ff6;
    cursor: pointer;
}

.hero_links .accent_link {
    background-color: var(--color-accent-dark);
}

.hero_links .play_button {
    width: 1.5rem;
    height: auto;
    filter: invert(1);
}

.hero_links .right_arrow {
    width: 1.2rem;
    height: auto;
    filter: invert(1);
}

/************************/
/* FEATURES */
.features {
    margin: auto;
    padding-inline: 3rem;
    margin-top: 5rem;
    max-width: 1000px;

    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem; */

    /* I want to use grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;

}

.features .feature .feature_title {
    text-align: center;
    font-size: 1.5em;
    color: var(--color-primary);
}