.features {
    margin: auto;
    padding-inline: 3rem;
    margin-top: 5rem;
    max-width: 1000px;

    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem; */

    /* I want to use grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;

}